* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.banner_container {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing_inset-xs);
}

.banner_logo {
  width: 62%;
}

@media(width >= 768px) {
  .banner_logo {
    width: 45%;
  }
}

.banner_social {
  display: flex;
  gap: var(--spacing_inset-md);
}

.banner_socialIcon {
  width: 45px;
  fill: white;
  transition: transform 0.4s ease, fill 0.4s ease, width 0.4s ease;
  box-shadow: 0px 0px 12px rgb(0, 0, 0);
  border-radius: 50%;
  background-color: black;
}

.banner_socialIcon:hover {
  transform: translateY(-3px);
  fill: #EA600D !important;
  transform: translateY(-3px) scale(1.15);
  background-color: white;
}

